body {
  text-align: center;
  background: hsl(295, 31%, 48%);
  color: hsl(218, 44%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://t4.ftcdn.net/jpg/10/48/45/69/360_F_1048456941_kbKS0z4StDeWGIHZL5OMEfwtr0IJhWdb.jpg'); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
  background-position: center center; 
  min-height: 100vh; 
}
p {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  color: white;
  font-weight: 400;
  margin: 25px;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}
.imagebox {
  width: 350px;
  height: 500px;
  background-color: black;
  border-radius: 5%;
  padding: 15px 25px 25px 15px;
}
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}
